.movies-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in;
}

.movies-card:hover {
  transform: scale(1.05);
}


.movies-card__container {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.movies-card__text-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.movies-card__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #000000;
}

.movies-card__subtitle {
  margin: 9px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #A0A0A0;
}

.movies-card-save-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.movies-card__image {
  width: 100%;
  height: 203px;
  object-fit: cover;
  cursor: pointer;
}

.movies-save-button{
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .movies-card__image {
    height: 190px;
  }

}

@media screen and (max-width: 767px) {
  .movies-card__image {
    height: 168px;
  }
}