.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 70px 10px;
}

.search-form__container {
  display: flex;
  position: relative;
  width: 100%;
}

.search-form__input {
  background-color: #F4F4F4;
  border-radius: 40px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;
  padding: 14px 0 14px 22px;
  color: #000000;
  border: none;
}

.search-form__input::placeholder {
  color: #A0A0A0;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  position: absolute;
  padding: 0;
  top: 6px;
  right: 6px;
  border: none;
  width: 80px;
  height: 34px;
  border-radius: 48px;
  background-color: #3456F3;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.search-form__button:hover {
  transform: scale(1.1);
}

.search-form__image {
  width: 15px;
  height: 10px;
  color: #FFFFFF;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .search-form {
    padding: 80px 30px 10px;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    padding-bottom: 61px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .search-form__input {
    font-size: 11px;
    line-height: 1.55;
    padding-left: 19px;
  }
}